/*************************************************************************/
/*                                                                       */
/*                      Halloween Page Style sheet                       */
/*                                                                       */
/*                     Made by: Manuel Alarcón Fortes                    */
/*                              Version: 1.0                             */
/*                                                                       */
/*                                                                       */
/*************************************************************************/

@font-face {
    font-family: spookytext;
    src: url(../font/Lycanthrope.ttf);
}

body{
    background-color: black;
}

#scenario{
    width: 1511px;
    height: 943px;
    background-image: url(../img/BckgrndImg.png);
    margin: auto;
    position: relative;
}

#moon{
    position: absolute;
    width: 325px;
    height: 325px;
    top: 100px;
    left: 209px;
}

    #vampire{
        position: absolute;
        top: 100px;
        left: 209px;
        width: 350px;
        visibility: hidden;
    }

#witch{
    position: absolute;
    width: 170px;
    height: 100px;
    top: 350px;
    left: 1210px;
}

#door{
    position: absolute;
    width: 85px;
    height: 170px;
    top: 620px;
    left: 150px;
}

    #phantom{
        position: absolute;
        top: 670px;
        left: 150px;
        width: 100px;
        visibility: hidden;
    }

#tomb{
    position: absolute;
    width: 500px;
    height: 170px;
    top: 620px;
    left: 750px;
}

    #sombras{
        position: absolute;
        top: 420px;
        left: 850px;
        width: 400px;
        visibility: hidden;
    }

#recom {
    position: relative;
    font-family: spookytext;
    opacity: 0;
    font-size: 1em;
    top: 660px;
    left: 470px;
    animation-name: recom;
    animation-duration: 30s;
}

#textoCementerio {
    position: relative;
    font-family: spookytext;
    opacity: 0;
    color: #F4C674;
    font-size: 2.5em;
    top: 750px;
    left: 850px;
    animation-name: sangre;
    animation-duration: 100s;
}

#textoLuna {
    position: relative;
    font-family: spookytext;
    opacity: 0;
    color: #F4C674;
    font-size: 1.75em;
    top: -150px;
    left: 150px;
    animation-name: sangre;
    animation-duration: 100s;
}

#toctoc {
    position: relative;
    font-family: spookytext;
    opacity: 0;
    color: #F4C674;
    font-size: 1.75em;
    top: 650px;
    left: 130px;
    animation-name: sangre;
    animation-duration: 100s;
}

@keyframes sangre {
    0%   {opacity: 0;
        color: #F4C674;}
    20%  {opacity: 1;
        color: red;}
    60%{opacity: 1;
        color: red;}
    100% {opacity: 0;
        color: #F4C674;}
}

@keyframes recom {
    0%   {opacity: 1;
        color: #F4C674;}
    60%{opacity: 1;
        color: #F4C674;}
    100% {opacity: 0;
        color: #F4C674;}
}

#control{
    position: relative;
    top: 900px;
    left: 500px;
    width: 300px;
}