/*******************************************************************/
/*                                                                 */
/*                 Halloween Party Style Sheet                     */
/*                    Made by Manuel Alarcón                       */
/*                                                                 */
/*                           ver 1.0                               */
/*                                                                 */
/*******************************************************************/

@font-face {
    font-family: titulo;
    src: url(../fonts/Lycanthrope.ttf);
}

@font-face {
    font-family: texto;
    src: url(../fonts/SABRIL_.ttf);
}

h1{ 
    font-family: titulo;
    color: red;
    text-align: center;
    margin-top:200px ;
    font-size: 1000%;
}

h2{
    font-family: titulo;
    color: red;
    font-size: 300%;
}


body{
    background-image: url(../img/backgroundImage.png);
}

#hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
                    ,url(../img/heroHalloweenParty.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
    background-position: 45%;
}
#hero button{
    background-color:#1E1013;
    color:#ff0000;
    font-family: titulo;
    border: none;
    font-weight: bold;
    font-size: medium;
    border-radius: 10px;
    padding: 20px 15px;
    position:absolute; 
    top: 66%;
    left: 50%;
    transform: translate(-50%,-50%);
    }

    #niña{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 1500px;
        visibility: hidden;
    }

#wrapper{
    width:80%;
    margin:auto;
    background-color: #1E1013;
    font-family: texto;
}

p{
    color: #866DA3;
    font-size: 200%;
}

h2{
    text-align: center;
}

#muajaja{
    position: absolute;
    width: 330px;
    height: 60px;
    top:1270px;
    left: 530px;
}

    #ghost{
        position: absolute;
        top:880px;
        left: 544px;
        width: 400px;
        visibility: hidden;
    }

#risa{
    position: absolute;
    width: 330px;
    height: 60px;
    top:1125px;
    left: 574px;
}

nav{
    visibility: hidden;
}

#blackWidow{
    position: absolute;
    width: 174px;
    height: 378px;
    top:92px;
    left: 726px;
}
    #spider{
        position: absolute;
        top:92px;
        left: 726px;
        width: 150px;
        visibility: hidden;
    }

#murcielago{
    position: absolute;
    width: 106px;
    height: 60px;
    top:900px;
    left: 733px;
}

    #vampiro{
        position: absolute;
        top:850px;
        left: 493px;
        width: 400px;
        visibility: hidden;
    }